<cfquery datasource="#application.dsn#" name="updLogin">
UPDATE user_sessions
SET lastConnectTime=SYSUTCDATETIME(),
	active=0
WHERE id=<cfqueryparam cfsqltype="cf_sql_bigint" value="#session.current_login_id#" />
</cfquery>
<cfset temp=structClear(session)>
<cflocation url="login.cfm" />