<cfif not session.admin><cflocation url="../index.cfm?message=Permission denied." /></cfif>
<cftransaction>
    <cfquery datasource="#application.dsn#" name="insLDAP">
    INSERT INTO server_ldap(ldapemaildomain) VALUES('')
    </cfquery>
    <cfquery datasource="#application.dsn#" name="getLDAP">
    SELECT MAX(id) as id FROM server_ldap
    </cfquery>
</cftransaction>
<cfoutput><cflocation url="ldap_edit.cfm?id=#getLDAP.id#" /></cfoutput>