<br><div id="copyright"><cfoutput>#application.sitename#</cfoutput> is Copyright &copy; 2016 <cfif year(now()) neq 2016> - <cfoutput>#year(now())#</cfoutput></cfif> to <cfoutput>#application.companyname#</cfoutput>.  All Rights Reserved.</div>